<app-header></app-header>
<div>
    <p class="display-2 heading"></p>
</div>
<div class="mt-5 container paraText">
    <p>Survey Portal is unique product developed by SP Infotech using which any company can
        conduct the survey for anything weather it is product , service or any topic.<br> Survey portal is easy to
        use application which helps any organization to conduct survey using a database
        hosted by SP Infotech. <br>Survey portal is customizable and extendable as per the requirement of the client.</p>
    <br><br>
    <p class="display-3">Contacts:</p>
</div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
          Analyst
        </div>
        <div class="card-body">
          <h5 class="card-title">Pushkar Moitra</h5>
          <p class="card-text"></p>
          <a href="https://www.linkedin.com/in/pushkar-moitra-29a227192/" target="_blank" class="btn btn-primary" rel="noopener">LinkedIn</a>
        </div>
        <div class="card-footer text-muted">
            SP Infotech  pvt ltd
        </div>
      </div>

      <div class="mt-3 card text-center">
        <div class="card-header">
          Analyst
        </div>
        <div class="card-body">
          <h5 class="card-title">Srushtidhar Yedase</h5>
          <p class="card-text"></p>
          <a href="https://www.linkedin.com/mwlite/in/srushtidhar-yedase-661189209/" target="_blank" class="btn btn-primary" rel="noopener">LinkedIn</a>
        </div>
        <div class="card-footer text-muted">
            SP Infotech  pvt ltd
        </div>
      </div>

      <div class="mt-3 card text-center">
        <div class="card-header">
          Analyst
        </div>
        <div class="card-body">
          <h5 class="card-title">Tarun Goud</h5>
          <p class="card-text"></p>
          <a href="https://www.linkedin.com/in/tarun-goud-091739154/" class="btn btn-primary" target="_blank" rel="noopener">LinkedIn</a>
        </div>
        <div class="card-footer text-muted">
            SP Infotech  pvt ltd
        </div>
      </div>

      <div class="mt-3 card text-center">
        <div class="card-header">
          Analyst
        </div>
        <div class="card-body">
          <h5 class="card-title">Praveen Wakchaure</h5>
          <p class="card-text"></p>
          <a href="https://www.linkedin.com/in/praveen-wakchaure/" class="btn btn-primary" target="_blank" rel="noopener">LinkedIn</a>
        </div>
        <div class="card-footer text-muted">
            SP Infotech  pvt ltd
        </div>
      </div>

      <div class="mt-3 card text-center">
        <div class="card-header">
          Analyst
        </div>
        <div class="card-body">
          <h5 class="card-title">Harshavarddhan</h5>
          <p class="card-text"></p>
          <a href="https://www.linkedin.com/in/harshavarddhan-9830a6192/" class="btn btn-primary" target="_blank" rel="noopener">LinkedIn</a>
        </div>
        <div class="card-footer text-muted">
            SP Infotech  pvt ltd
        </div>
      </div>

      <div class="mt-3 card text-center">
        <div class="card-header">
          Analyst
        </div>
        <div class="card-body">
          <h5 class="card-title">Bhushan Joshi</h5>
          <p class="card-text"></p>
          <a href="https://linkedin.com/in/bhushanjoshi346/" class="btn btn-primary" target="_blank" rel="noopener">LinkedIn</a>
        </div>
        <div class="card-footer text-muted">
            SP Infotech  pvt ltd
        </div>
      </div>
</div>
<div class="mt-3 container display-3 text-info text-center">
  <p>Thank you for visiting.</p>
  <br />
</div>


