<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand ">Survey Portal App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand ">something</a> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/surveyor']" class="nav-link" href="#">Surveyors</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/topics']" class="nav-link" href="#">Topics</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/surveys']" class="nav-link" href="#">Surveys</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/questions']" class="nav-link" href="#">Questions</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/participants']" class="nav-link" href="#">Participants</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/feedbacks']" class="nav-link" href="#">Feedbacks</a>
        </li>
        <!-- <li class="nav-item">
          <a [routerLink]="['/takeSurvey']" class="nav-link" href="#">Take Survey</a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="['/about']" class="nav-link" href="#">About</a>
        </li>
        <li class="ml-3 nav-item">
          <div>
            <a class="text-primary " >{{user}}</a>
            <a class="text-primary text-ul nav-link" (click)="logoutUser()">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>