@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
/* For formatting heading of a page */
.heading{
    font-family: 'Girassol', cursive;
    text-align: center;
    margin-top: 0.1em;
    padding-top: 1.4em;
    padding-bottom: 2.0em;
    color: rgb(250, 250, 250);
    background-image: url(https://www.biospace.com/getasset/e1d16bdc-2837-4651-aafd-35f598caabd3/);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
/* For paragraph texts formatting */
.paraText{
    font-family: 'Shippori Mincho', serif;
    font-size: 1.5em;
    color: rgb(59, 63, 54);
    font-weight: bold;
}
/* to center an element */
.center{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }