<div class="sidenav">
    <div class=" login-main-text">
        <br>
        <h2>Online Survey Application<br> Login Page</h2>
        <p>Login from here to access.</p>
    </div>
</div>
<div class="main">
    <!-- Show Selection -->
    <div class="col-md-5 col-sm-12">
        <div class="login-form" *ngIf="isSelecting">
            <p class="display-4">Login as </p>
            <div class="card" (click)="showSurveyorLogin()">
                <div class="card-body">
                    Surveyor
                </div>
            </div>
            <div class="mt-4 card" (click)="showParticipantLogin()">
                <div class="card-body">
                    Participant
                </div>
            </div>
        </div>

        <!-- Show Surveyor Login-->
        <div class="login-form" *ngIf="isloginSurveyor">
            <p class="display-4">Surveyor Login</p>

            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <input type="text" class="form-group form-control mb-1" id="username" required
                    [(ngModel)]="credentials.userName" name="username" #username="ngModel" placeholder="Username"
                    [class.is-invalid]='username.invalid && username.touched'>
                <div *ngIf="username.errors && (username.invalid && username.touched)">
                    <small class="text-danger" *ngIf='username.errors.required'> Username is required</small>
                </div>
                <input type="password" class="mt-4 form-group form-control mb-1" id="password" required
                    [(ngModel)]="credentials.password" name="password" #password="ngModel" placeholder="Password"
                    [class.is-invalid]='password.invalid && password.touched'>
                <div *ngIf="password.errors && (password.invalid && password.touched)">
                    <small class="text-danger" *ngIf='password.errors.required'> Password is required</small>
                </div>
                <p class="text-danger">{{message}}</p>
                <button class="mt-4 btn btn-sm btn-primary" type="submit" [disabled]=" !userForm.form.valid">Log in
                </button>
            </form>
            <button class="mt-4 btn btn-sm btn-secondary" type="button" (click)="showSelection()">Back</button>
        </div>

        <!-- Show Participant login -->
        <div class="login-form" *ngIf="isloginParticipant">
            <p class="display-4">Participant Login</p>

            <form (ngSubmit)="onSubmitParticipant()" #userForm="ngForm">
                <input type="text" class="form-group form-control mb-1" id="username" required
                    [(ngModel)]="credentials.userName" name="username" #username="ngModel" placeholder="Username"
                    [class.is-invalid]='username.invalid && username.touched'>
                <div *ngIf="username.errors && (username.invalid && username.touched)">
                    <small class="text-danger" *ngIf='username.errors.required'> Username is required</small>
                </div>
                <input type="password" class="mt-4 form-group form-control mb-1" id="password" required
                    [(ngModel)]="credentials.password" name="password" #password="ngModel" placeholder="Password"
                    [class.is-invalid]='password.invalid && password.touched'>
                <div *ngIf="password.errors && (password.invalid && password.touched)">
                    <small class="text-danger" *ngIf='password.errors.required'> Password is required</small>
                </div>
                <p class="text-danger">{{message}}</p>
                <button class="mt-4 btn btn-sm btn-primary" type="submit" [disabled]=" !userForm.form.valid">Log in
                </button>
            </form>
            <button class="mt-4 btn btn-sm btn-secondary" type="button" (click)="showSelection()">Back</button>
        </div>
        <br>
    </div>
</div>